*{
    box-sizing:border-box;
}
  
body{
    background-color: #fafafa;
}
  
.subTitle {
    color: whitesmoke;
}

.container{
    margin: 0 auto;
    padding-top:20px;
    width:500px;
}
  
.calendar{
    margin: 40 auto;
    font-family: 'Roboto', sans-serif;
    padding: 20px 30px;
    color:#363b41;
}
  
.calendar_header{
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
  
.calendar_plan{
    margin:10px 0 10px;
}

.cl_plan{
    width:100%;
    height: 120px;
    background-image: linear-gradient(-222deg, rgb(93, 159, 235), #5183c4);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    padding:30px;
    color:#fff;
}
  
.cl_copy{
    font-size:20px;
    margin: 20px 0;
    display: inline-block;
}
  
.calendar_events{
    color:#A39D9E;
}

.event_item{
    margin: 2px 0;
    padding:3px;
    cursor: pointer;
}

.ei_Title{
    margin-left:10px;
    color:#ffffff;
    display:inline-block;
}

.dark{
    background-image: linear-gradient(-222deg, #646464, #454545);
    color:#fff;
}

.hour_Agenda {
    display:block;
    width:100%;
    height:2rem;
    padding: .375rem .75rem;
    font-size:1rem;
    font-weight: 400;
    line-height:1.5;
    color:#495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button {
    background-color: rgb(93, 159, 235);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .5rem;
}

.pastday {
    background-color:rgba(170, 39, 83, 0.87);
}

.futureday {
  background-color: rgb(0, 139, 163);
}

.now {
    background-color: rgb(231, 170, 2);
  }

  